# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Run tests and check coverage

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Fetch base branch
      run: |
        git fetch origin ${{ github.base_ref }} --depth=1

    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics

    - name: Install module
      run: |
        pip install -e .

    - name: Generate diff for PR
      if: github.event_name == 'pull_request'
      run: |
        git fetch origin ${{ github.base_ref }} --depth=1
        git diff origin/${{ github.base_ref }}...HEAD > changes.diff

    - name: Test with pytest
      run: |
        pip install coverage diff-cover
        coverage run -m pytest --no-verify-cert
        coverage xml
        coverage html

    - name: Check that any modified lines are tested
      if: github.event_name == 'pull_request'
      run: |
        diff-cover coverage.xml --diff-file changes.diff --html-report diffcov.html --fail-under=100

    - name: Upload full coverage report
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: coverage-html
        path: htmlcov/

    - name: Upload coverage report for modified lines
      if: github.event_name == 'pull_request'
      uses: actions/upload-artifact@v4
      with:
        name: diff-coverage-html
        path: diffcov.html
